@import "tailwindcss";
@import "tw-animate-css";

@layer base {

* {
box-sizing: border-box;
}

body {
margin: 0;
font-family: system-ui, sans-serif;
background-color: rgb(243 244 246);
color: rgb(17 24 39);
}
}
